# Archived code
archive

# Future files
src/benches
src/examples
src/fuzz
src/testdata
src/tests
src/compression.rs
src/schedule.rs
src/constants.rs
src/main.rs

# Target output folder
target

# Structured guide
structure.md

# Thinking
scratch.rs
todo.md

# Cheatsheet
github.md

# Lessons from
NIST.FIPS.180-4.pdf
wikipedia_sha2.pdf