# Archived code
archive

# Target output folder
target

# Structured guide
structure.md
plan.md

# Thinking
scratch.rs
todo.md
scratch

# Cheatsheet
github.md

# Lessons from
NIST.FIPS.180-4.pdf
wikipedia_sha2.pdf
nist.fips.198-1.pdf